$primary-color: #676a79;
$secondary-color: #b4d6d2;
$tertiary-color: rgb(204, 19, 19);
$primary-font:'Ubuntu', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;


mat-radio-group {
display: flex;
flex-direction: column;
margin: 15px 0;
}

.label {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 24px;
  padding-top: 2%;
}

@media all and (max-width: 750px) {
  .label {
    font-size: 18px;
    font-weight: 600;
  }
}
